:root {
    --gfm-blockquote-admonitions-note: var(--blue);
    --gfm-blockquote-admonitions-important: var(--purple);
    --gfm-blockquote-admonitions-warning: var(--orange);
}

.markdown-alert {
    &-title {
        margin-bottom: 0.25em !important;
        font-weight: 600;
    }
    &-title > span {
        margin-right: 0.5em;
        display: inline-flex;
        overflow: visible !important;
        vertical-align: text-bottom;
    }
    &-type {
        &-note {
            .markdown-alert-title {
                color: var(--gfm-blockquote-admonitions-note);
            }
            border-color: var(--gfm-blockquote-admonitions-note);
        }
        &-important {
            .markdown-alert-title {
                color: var(--gfm-blockquote-admonitions-important);
            }
            border-color: var(--gfm-blockquote-admonitions-important);
        }
        &-warning {
            .markdown-alert-title {
                color: var(--gfm-blockquote-admonitions-warning);
            }
            border-color: var(--gfm-blockquote-admonitions-warning);
        }
    }
    margin-bottom: 16px;
    padding: 0 1em;
    border-left: 0.25em solid;
}
